<?php
global $config;
$config = [
    'contactName'           => 'Harkály Gergő',
    'contactPosition'       => 'web developer',
    'contactPhone'          => '+36305512337',
    'contactEmail'          => 'wpturbo@harkalygergo.hu',
    'contactWebsite'        => 'https://www.harkalygergo.hu/',
    'contactSupportLink'    => 'https://www.buymeacoffee.com/harkalygergo',
];
